



<%#
props = {
  wet: 0.8,
  distortion: 50,
  oversample: '2x'
}
 %>

 <%
  props = {"distortion":{"effect":{"distortion":50},"wet":0.8,"on":false}}
%>

<div id="data" data-props="<%= props.to_json %>"></div>
