.Effect {
  width: 267.6px;
  padding-left: 20px;
  padding-right: 20px;
  height: 360px;
}

.circle {
  border-radius: 60px;
  width: 110px;
  height: 110px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: 40px;
}

.green {
  background: #f7c824;
}

.yellow {
  background: black;
}

.blue {
  background: #084adf;
}

.orange {
  background: black;
}
