@font-face {
  font-family: 'MicrogrammaMedium';
  src: asset-url('MicrogrammaDMedExt.ttf') format('truetype');
}

@font-face {
  font-family: 'MicrogrammaBold';
  src: asset-url('MicrogrammaEFBoldExtend.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: asset-url('Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: asset-url('Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: asset-url('Poppins-ExtraLight.ttf') format('truetype');
}
